<div id="nav">
  <ol>
    <li>
      <h2 class="nav_slide"><a href="#map"><span id="nav_map">Map</span></a></h2>
      <div>
        <%= render :partial => 'main/map' %>
      </div>
    </li>
    <li>
      <h2 class="nav_slide"><a href="#search"><span id="nav_search">Search</span></a></h2>
      <div>
        <%= render :partial => 'main/search' %>
      </div>
    </li>
    <li>
      <h2 class="nav_slide"><a href="#about"><span id="nav_about">About</span></a></h2>
      <div>
        <%= render :partial => 'main/about' %>
      </div>
    </li>
</div>
