<div class="shell">
  <span class="left">&copy; Wafflestudio</span>
  <span class="right">
    Design by <a href="http://chocotemplates.com" target="_blank" title="The Sweetest CSS Templates WorldWide">Chocotemplates.com</a>
  </span>
</div>
