<div class="row span3 infobubble">
  <h4>
    <i class="icon-map-marker"></i>
    새 방 추가
  </h4>

  <div class="room_info_new_row">
    &nbsp;&nbsp;평가하고 싶은데 지도에는 없는 방에 대한 정보를 추가해주세요!

    <%= link_to '생성하기', '/#rooms/new/' + params[:pos], :class => 'btn btn-inverse' %>
  </div>
</div>


