<div>
  <span class="h4">
    <i class="icon-search"></i>
    검색결과
  </span>
  <button id="search_close" class="close right">&times;</button>
</div>
<table>
  <% @rooms.each do |r| %>
  <tr class="search_row">
    <td>
      <span class="label label-info"><%= r.region_name %></span>
      <span class="label label-inverse"><%= r.type_name %></span>
      <%= link_to_function r.name, "", :class => 'searched_room', :rel => r.id %>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @rooms, :theme => 'search' %>
