<h3>검색결과</h3>

<button id="search_close" class="close">&times;</button>

<table>
  <% @rooms.each do |r| %>
  <tr>
    <td><%= link_to_function r.name, "", :class => 'searched_room', :rel => r.id %></td>
  </tr>
  <% end %>
</table>
