/*--- reset ---*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	font-family: 'Helvetica', '맑은 고딕', '굴림';
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 13px;
}

/*--- common ---*/
body {background: url(/assets/bg-gray.jpg)};

a {text-decoration: none; cursor: pointer; }

.left {float: left;}
.right {float: right;}
.transparent {display: none;}

.center {text-align: center;}

.clearfix {
    display: block;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.h1,.h2,.h3,.h4,.h5,.h6 {
  margin:0;
  font-family:inherit;
  font-weight:bold;
  color:inherit;
  text-rendering:optimizelegibility;
}

.h1-w,.h2-w,.h3-w,.h4-w,.h5-w,.h6-w {
  font-weight:normal;
}
.h1{font-size:30px;line-height:36px}
.h2{font-size:24px;line-height:36px}
.h3{font-size:18px;line-height:27px}
.h4,.h5,.h6{line-height:18px}
.h4{font-size:14px}
.h5{font-size:12px}
.h6{font-size:11px;color:#999;text-transform:uppercase}

/* h3 title */
#cboxLoadedContent h4.title {
  margin: 0 20px 20px 20px;
  padding: 10px;
}

.inner_container h4.title {
  padding: 10px;
}

/* infobubble */
div.infobubble{
  margin-left: 0px !important;
}

/* colorbox */
#colorbox {top: 30px !important;}
#cboxLoadedContent {padding: 25px; overflow:hidden !important;}
#cboxLoadedContent {background: url("/assets/bgp-light.png") repeat scroll 0 0 transparent !important;}
.cb_margin {margin-bottom: 50px;}

/* paginator */
.kaminari {margin: 10px 5px 5px 5px;}
.kaminari a {color: #24789C;}
