// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//form
.form-horizontal-colorbox {
  input[type=text] {
    width: 300px;
  }
  input[type=password] {
    width: 300px;
  }
  textarea {
    width: 300px;
    height: 200px;
  }
  .control-label {
    padding-top: 0px !important;
    padding-right: 5px;
    margin-top: 5px;
    margin-right: 20px;
    border-right: 3px solid #416A87;
  }
}

.form-horizontal-tooltip {
  input[type=text] {
    width: 140px;
    margin-left: 17px;
  }
  input[type=password] {
    width: 140px;
    margin-left: 6px;
  }
}

.form-horizontal-slide {
  input[type=text] {
    width: 200px;
  }
  input[type=password] {
    width: 200px;
  }
  textarea {
    width: 200px;
    height: 120px;
  }
  .control-label {
    padding-top: 0px !important;
    padding-right: 5px;
    margin-top: 5px;
    margin-right: 20px;
    border-right: 3px solid #416A87;
  }

}

.form-horizontal-contact {
  input[type=text] {
    width: 170px;
  }
  input[type=password] {
    width: 170px;
  }
  textarea {
    width: 170px;
    height: 80px;
  }
  .control-label {
    width: 50px !important;
  }
  .controls {
    margin-left: 70px !important;
  }
}

.form_description {
  margin: 0 70px 30px 70px;
}


//main
#nav {
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 2px 5px #666;
  background: url("/assets/bgp-dark.png") repeat scroll 0 0 transparent !important;

  li.slide {
    h2 {background: url("/assets/bgp-dark.png") repeat scroll 0 0 transparent !important;}
  }

  li.slide > div {
    background: url("/assets/bgp-dark.png") repeat scroll 0 0 transparent !important;
  }

  .inner_container {
    padding: 20px;
    background: url("/assets/bgp-light.png") repeat scroll 0 0 transparent !important;
  }
}

.banner {
  padding: 0 50px 0 50px;
  background: url(/assets/bg-blue.jpg);
  height: 300px;

  #header {
    margin: 0 auto;
    width: 1040px;
  }
}

#descriptor {
  padding: 10px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  background: url(/assets/bg-sky.jpg);

  a {
    color: #444;
  }
  
  .title {
    border-right: 1px dashed black;
    strong {
      vertical-align: middle;
    }
  }

  ul {
    margin: 0px;
    li {
      display: inline;
      margin: 0 4px 0 4px;
      vertical-align: middle;
      img.marker {
        width: 15px;
      }
    }
  }
}

img#about_creators {
  margin: 5px 10px 5px 5px;
  border: 1px solid #bbb;
}

.b_b {border-bottom: 1px dotted #bbb;}
.b_l {border-left: 1px dotted #bbb; padding-left: 10px;}


#footer {
  text-align: center;
  margin: 10px;
}

//session
#session-new-sub {
  margin-top: 15px;
  border-top: 1px dashed #ccc;

  div {
    margin: 5px;
    font-size: 11px;
  }

  a {margin-left: 5px;}
}

//user
#user_new_after {
  display: none;
}
#find_password_after {
  display: none;
}
#reauthorize_after {
  display: none;
}
//search
#search_result {
  position: absolute;
  display: none;
  top: 50px;
  right: 20px;
  width: 230px;
  overflow: auto;
  z-index: 9999;
}

.search_row {
  td {
    padding: 5px;
    border-bottom: 1px dotted #bbb;
  }
}

.search_controls {
  margin-left: 50px;
  margin-bottom: 10px;
  .search_values {
    position: absolute;
    left: 350px;
  }
  .search_slider {
    width: 420px;
    margin-left: 70px;
  }
}

//room
.need_login {
  border: 1px dotted gray;
  padding: 10px;
  background-color: #fcfbe6;
}
