<!DOCTYPE html>
<html>
<head>
  <title>Project Oneroom</title
  <%= stylesheet_link_tag "tooltip" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'rooms/header' %>
  <div>
    <%= yield %>
  </div>
</body>
</html>
