<!DOCTYPE html>
<html>
<head>
  <title>Project Oneroom</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if @session %>
    <%= render :partial => 'rooms/header' %>
  <% else %>
    <%= render :partial => 'rooms/session/header' %>
  <% end %>
  <div>
    <%= yield %>
  </div>
</body>
</html>
