<!DOCTYPE html>
<html>
<head>
  <title>Project Oneroom</title>
  <%= stylesheet_link_tag "tooltip" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="tooltip_layout">
    <%= yield %>
  </div>
</body>
</html>
